/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.vs
*.suo
*.obj
bin/
obj
config
*.cache
*.pdb
*.pdb
*.dll
*.cache
/.vs/
